h1,h2,h3,h4,h5,h6{
  font-family:"Montserrat";
}
body{
  font-family:"Montserrat";
  text-align: center;
}
p{
  color:#8f8f8f;
  font-size:1rem;
  font-family:"Montserrat";
  font-weight:400;
}

/* Title */
#title{
  background-color:#ff4c68;
  color: #fff;
  text-align: left;
}

/* Headings */

.big-heading{
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size:3.5rem;
  line-height: 1.5;
}
.section-head{
  font-size: 3rem;
  line-height: 1.5;
}
.container-fluid{
  padding:7% 15%;
}

/* Nav bar */

.navbar{
  padding: 2.5rem;
}
.nav-brand{
  margin-right: 100px;
  font-family:"Ubuntu";
  font-size:5rem;
}
.nav-item{
  padding:0 18px;
}
.nav-link{
  font-size:1.2rem;
  font-family:"Montserrat-Light";
}
.navbar-nav{
  margin-left:50%;
}

/* Download buttons */

.download-button{
  margin:5% 3% 5% 0;
}

/* Title image */

.cellphone-dog{
  width:20%;
  transform: rotate(25deg);
  position:absolute;
}

/* Features buttun */

#features{
  background-color: #fff;
  position:relative;
  z-index: 1;
}
.feature-box{
  padding: 5%;
}
.icon{
  color:#ef8172;
  margin-bottom: 1rem;
}
.icon:hover{
  color:#ff4c68
}
.feature-title{
  font-size: 1.5rem;
  font-style: bold;
}

/* Testimonial section */

#testimonials{
  background: #ef8172;
  color:#fff;
}
.testimonial-image{
  width:30%;
  border-radius: 100%;
  margin:20px;
}
.testimonials-text{
  font-size: 3rem;
  line-height: 1.5;
  color:black;
}
.carousel-item{
  padding: 7% 15%;
}
#press{
  background: #ef8172;
  padding-bottom: 3%;
}
.press-logo{
  width: 15%;
  margin:20px 20px 50px;
}

/* Pricing section */

#pricing{
  padding:100px;
}

.pricing-column{
  padding:3% 2%;
}
.price-text{
  weight:900;
  font-size:3.5rem;
  line-height:1.5;
}

/* Call to action Section */

#cta{
  background-color:#ff4c68;
  padding: 7% 15%;
  color: #fff;
}
@media (max-width:1028px) {
  .cellphone-dog{
    position:static;
    transform:rotate(0);
  }

}

/* Footer section */

#footer{
}
.footer-icon{
  margin: 20px 10px;
}
